runtime/
__pycache__/
__pycache__/*
results/*
miscomp_tests
.vscode
*_modified_crc.ll
miscomp_tests_runner/test_outs/*
miscomp_tests_runner/stats/*
csmith_crc_minimal.o
miscomp_tests_renamed
miscomp_tests_renamed_filtered
oracle/llvm_c/build
.DS_Store
oracle_runtime/
out.json